body {
  background-color: rgb(224, 224, 224);
}

.BooksWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  padding: 8px;
}

#container {
  width: 1000px;
  overflow: hidden;
  margin: 25px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.photobanner {
  height: 238px;
  margin: 0; padding: 0;
  margin-bottom: 5px;
  text-align: unset;
  display: flex;
}

.photobanner:hover .first {
  animation-play-state: paused;
}

.photobanner img, .photobanner div, .photobanner video {
  margin: 5px;
  height: 233px !important;
  width: 350px !important;
  border-radius: 3px;
  margin-left: 0px;
  flex-shrink: 0;
}

.photobanner source

.photobanner div {
  display: inline-block;
}
 
.first {
  animation: bannermove 30s linear infinite; 
}

@keyframes bannermove {
  0% {
     margin-left: 0px;
  }
  50% {
    margin-left: -2550px;
  }
  100% {
    margin-left: 0px;
  }
}
 
